html,body {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Helvetica, Arial, Verdana, Sans-Serif;
}

.player-bg,
.player-overlay {
    position: absolute;
    left: 350px;
    top: 50px;
    width: 930px;
    height: 523px;
    background: #000;
}

.player-overlay {
    background: url(../img/player-overlay.png) center center no-repeat;
    z-index: 1;
}

.bg {
    position: absolute;
    background: url(../img/bg.jpg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrap {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.header, .legend {
    display: block;
    height: 52px;
    background: #2a2f36;
    background: rgba(42,47,54, 0.75);
}

.legend {
    height: 48px;
}

.header {
    width: 100%;
    overflow: hidden;
}

.header-logo {
    margin: 0 0 0 15px;
    width: 235px;
    height: 50px;
    overflow: hidden;
    background: url(../img/logo.png) no-repeat;
}

.menu {
    overflow: hidden;
    position: relative;
    height: 620px;
    width: 350px;
    background: #34495e;
    background: rgba(52, 73, 94, 0.75);
}

.menu-up,
.menu-down {
    display: none;
    height: 25px;
    position: absolute;
    left: 0;
    width: 100%;
    background: #2a2f36;
    background: rgba(42,47,54, 0.75);
}

.menu-up {
    top: 0;
}

.menu-down {
    bottom: 0;
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    padding-left: 15px;
    line-height: 50px;
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
}

.menu-item.focus {
    background: #ffdd8b;
}

.player {
    position: absolute;
    width: 930px;
    height: 97px;
    left: 350px;
    top: 573px;
    background: #fff;
}

.player-seek,
.player-seek-buffer,
.player-seek-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
}

.player-seek {
    width: 100%;
    background: #ccc;
    cursor: pointer;
}

.player-seek-buffer {
    background: #969696;
}

.player-seek-progress {
    background: #ffce54;
}

.player-play,
.player-pause,
.player-rw,
.player-ff {
    position: absolute;
    left:50%;
    top: 25px;
    cursor: pointer;
}

.player-play {
    width: 31px;
    height: 34px;
    padding: 11px 0 0 14px;
    margin-left: -23px;
}

.player-pause {
    width: 35px;
    height: 35px;
    margin-left: -23px;
    padding: 10px 0 0 10px;
}

.player-pause-icon {
    height: 25px;
    width: 8px;
    background: #ffce54;
    display: block;
    float: left;
    margin-left: 9px;
}

.player-pause-icon:first-child {
    margin-left: 0;
}

.focus .player-pause-icon {
    background: #fff;
}

.focus.player-play,
.focus.player-pause,
.focus.player-rw,
.focus.player-ff{
    background: url(../img/circle.png) no-repeat;
}

.player-play-icon {
    width: 0;
    height: 0;
    display: block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid #ebbe4e;
}

.focus .player-play-icon {
    border-left: 18px solid #fff;
}

.player-rw,
.player-ff {
    height: 32px;
    padding-top: 13px;
}

.player-rw {
    margin-left: -80px;
    padding-left: 4px;
    width: 41px;
}

.player-ff {
    margin-left: 36px;
    padding-left: 9px;
    width: 36px;
}

.arrow {
    width: 0;
    height: 0;
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: left;
}

.arrow-left {
    border-right: 16px solid #ebbe4e;
}

.focus .arrow-left {
    border-right: 16px solid #fff;
}

.arrow-right {
    border-left: 16px solid #ffce54;
}

.focus .arrow-right {
    border-left: 16px solid #fff;
}

.player-pause {
    display: none;
}

.pluginPlayerWrap {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:4;
}
#pluginPlayer {
    position:absolute;
    left:0;
    top:0;
    width:0;
    height:0;
    z-index:0;
    background-color: transparent;
}